/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #fdbd63;
    color: #333;
    padding-bottom: 60px;
    text-align: center;
}

header {
    background-color: #ff6445;
    color: #fff;
    padding: 1rem;
    height: 100px
}

footer {
    position: absolute;
    background-color: #ff6445;
    height: 40px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
}

.place-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.review-card {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.details-button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.details-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.details-button:active {
  transform: scale(0.95);
}


/** In the header */
.login-button {
  float: right;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.login-button:active {
  transform: scale(0.95);
}

.logo {
    float: left;
}
